<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="runtime.any.System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="runtime.aot.System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
</packages>